button.faq-add-question.button.button-primary {
  margin-bottom: 10px;
  margin-left: 15px;
}
#frequently_asked_questions .options_group p:nth-child(even) {
  /* background: red!important; */
  border-bottom: 2px solid #eee;
}

.option-group-wrapper p.faq-note span {
  color: red;
}

/* button.button.fsb-archive-add-faq-item.fbs-upgrade-button */
.fbs-product-archive-faq form button.button.fbs-upgrade-button,
#faq-groups-container button.button.fsb-archive-add-faq-item.fbs-upgrade-button{
  background-color: #ff6a00 !important;
  color: white !important;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(255, 106, 0, 0.5);
}
