button.faq-add-question.button.button-primary{
    margin-bottom: 10px;
    margin-left: 15px;
}
#frequently_asked_questions .options_group p:nth-child(even){
    /* background: red!important; */
    border-bottom: 2px solid #eee;
}